extends ../layout

block content
  h1 Colors

  .sgcolors
      .sgcolors__item.sgcolors__item--one
        .sgcolors__color.sgcolors__color--one
        .sgcolors__code.sgcolors__code--one
          span use:
            pre $color__one
      .sgcolors__item.sgcolors__item--two
        .sgcolors__color.sgcolors__color--two
        .sgcolors__code.sgcolors__code--two
          span use:
            pre $color__two
      .sgcolors__item.sgcolors__item--three
        .sgcolors__color.sgcolors__color--three
        .sgcolors__code.sgcolors__code--three
          span use:
            pre $color__three
      .sgcolors__item.sgcolors__item--four
        .sgcolors__color.sgcolors__color--four
        .sgcolors__code.sgcolors__code--four
          span use:
            pre $color__four
      .sgcolors__item.sgcolors__item--five
        .sgcolors__color.sgcolors__color--five
        .sgcolors__code.sgcolors__code--five
          span use:
            pre $color__five
