extends ../layout

block content
  h1 Fonts

  .sgfonts
    .sgfonts__item.sgfonts__heading
      h2 Headings:
      .sgfonts__weight.sgfonts__adelle
        p Adelle Sans - SemiBold (600)
      .sgfonts__weight.sgfonts__adelle-italic
        p Adelle Sans - SemiBold Italic (600, italic)
      .sgfonts__weight.sgfonts__adelle-bold
        p Adelle Sans - ExtraBold (800)
    .sgfonts__item.sgfonts__paragraph
      h2 Paragraphs:
      .sgfonts__weight.sgfonts__omnes-light
        p Omnes Pro - Light (300)
      .sgfonts__weight.sgfonts__omnes
        p Omnes Pro - Regular (400)

  .sgtypography
    .sgtypography__item
      h1 This is header #1
      h2 This is header #2
      h3 This is header #3
      h4 This is header #4
      h5 This is header #5
      h6 This is header #6
      p This is a p. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      blockquote This is a quote. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    .sgtypography__item.sgtypography__sample
      h1.sgtypography__header Page Header
      h2.sgtypography__sub-header Cool Blog Post
      h3.sgtypography__attr Written by You on Feb 6, 2016
      p.sgtypography__paragraph Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.
      blockquote.sgtypography__blockquote Maecenas faucibus mollis interdum. Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis.
      p.sgtypography__paragraph Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
