extends ../layout

block content
  h1 Messages

  .sgexample
    .sgexample__demo
      div.flash__info I am an informational message.

  .sgexample
    .sgexample__demo
      div.flash__error I am an error message.
