extends ../layout

block content
  h1 Navigation
  
  h2 Navigation Bar
  
  .sgexample
    .sgexample__demo
      .navigationbar__wrapper
        nav.navigationbar
          h1
            a(href="#") MyApp
          ul.navigationbar__links
            li.navigationbar__link
              a(href="#") Home
            li.navigationbar__link
              a(href="#") About
            li.navigationbar__link
              a(href="#") Contact
  
  h2 Inverted Body & Navigation
  div
    em Note: background padding expanded to see appearance
  
  .sgexample
    .sgexample__demo
      div.body--inverted
        .navigationbar__wrapper.navigationbar__wrapper--inverted
          nav.navigationbar.navigationbar--inverted
            h1
              a(href="#") MyApp
            ul.navigationbar__links
              li.navigationbar__link.link--inverted
                a(href="#") Home
              li.navigationbar__link.link--inverted
                a(href="#") About
              li.navigationbar__link.link--inverted
                a(href="#") Contact

  h2 Sidebar

  .sgexample
    .sgexample__demo
        nav.multiselect
          ul.multiselect__list
            li.multiselect__item
              a.multiselect__item__link.multiselect__item__link--first(href="#") Home
            li.multiselect__item
              a.multiselect__item__link Tasks
            li.multiselect__item
              a.multiselect__item__link Donate
            li.multiselect__item
              a.multiselect__item__link.multiselect__item__link--last About
