extends ../layout

block content
  h1 Navigation

  h2 Sidebar

  .sgexample
    .sgexample__demo
        nav.multiselect
          ul.multiselect__list
            li.multiselect__item
              a.multiselect__item__link.multiselect__item__link--first(href="#") Home
            li.multiselect__item
              a.multiselect__item__link Tasks
            li.multiselect__item
              a.multiselect__item__link Donate
            li.multiselect__item
              a.multiselect__item__link.multiselect__item__link--last About
