@import "components/base";

body {
  background-color: $color__five;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  padding: 25px;
}

.header--primary {
  background-color: $color__five;
  padding: 25px;
  color: $color__one;
  h1 {
    margin: 0;
  }
}

.sgexample {
  border: 2px solid #CCC;
  background: white;
  border-radius: 5px;
}

.sgexample__demo {
  padding: 25px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 2px solid #CCC;
}

.sgexample__code {
  padding: 5px 25px;
}

/* Color Swatches */
.sgcolors {
  @extend .grid;
  margin-left: 0px;
  margin-bottom: 30px;
}
.sgcolors__item {
  @extend .grid__col;
  @extend .grid__col--1-of-5;
  padding: 20px;
}
.sgcolors__color {
  height: 100px;
}
.sgcolors__color--one {
  background-color: $color__one;
}
.sgcolors__color--two {
  background-color: $color__two;
}
.sgcolors__color--three {
  background-color: $color__three;
}
.sgcolors__color--four {
  background-color: $color__four;
}
.sgcolors__color--five {
  background-color: $color__five;
  border: 10px solid;
  border-color: $color__four;
  border-bottom: none;
}
.sgcolors__code {
  padding: 15px;
  text-align: center;
  border: 10px solid;
}
.sgcolors__code--one {
  border-color: $color__one;
}
.sgcolors__code--two {
  border-color: $color__two;
}
.sgcolors__code--three {
  border-color: $color__three;
}
.sgcolors__code--four {
  border-color: $color__four;
}
.sgcolors__code--five {
  border-color: $color__four;
  border-top: none;
}
