@mixin button($button__color: #555, $secondary__color: white) {
  @include font-paragraph;
  padding: 3px 10px;
  background: $secondary__color;
  border: 2px solid $button__color;
  border-radius: 5px;
  color: $button__color;
  &:hover {
    background-color: $button__color;
    color: $secondary__color;
    cursor: pointer;
  }
}

.button {
  @include button;
}

.button--primary {
  @include button($color__two);
}

.button--inverted {
  @include button(white, $color__two);
}

.button--positive {
  @include button($color__positive);
}

.button--negative {
  @include button($color__negative);
}