$color__one: #A78269;   // medium wood
$color__two: #E5DCC4;   // half spanish white
$color__three: #4D4534; // paco
$color__four: #3C4642;  // cape cod
$color__five: #343A30;  // oil
$color__black: #464646; // light black

