$color__one: #1B98E0;   // curious blue
$color__two: #0175BA;   // french blue
$color__three: #003459; // prussian blue
$color__four: #0F2030;  // firefly
$color__five: #F9FDFF;  // ghost white
$color__black: #0F2030; // firefly
