$multiselect__color: $color__one;
$multiselect__border: 1px solid #CCC;
$multiselect__border--separator: 1px solid #DDD;


.multiselect {
  max-width: 200px;
  border-radius: 5px;
}
.multiselect__list {
  margin: 0;
}
.multiselect__item {
  list-style-type: none;
  margin-left: -40px;
}
.multiselect__item__link { display: block;
  padding: 10px;
  text-decoration: none;
  color: $color__black;
  border-left: $multiselect__border;
  border-right: $multiselect__border;
  border-bottom: $multiselect__border--separator;
  &:hover,
  &.multiselect__item__link--active {
    font-weight: bold;
    border-left: 3px solid $multiselect__color;
    background-color: #F5F5F5;
    border-left-width: 3px;
  }
}
.multiselect__item__link--first {
  border-top: $multiselect__border;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.multiselect__item__link--last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: $multiselect__border;
}


/* Tables */

$table__headercolor: $color__two;
$table__bordercolor: $color__three;

.table {
  border-collapse: collapse;
}

.table--fill {
  width: 100%;
}

.table__header th {
  @include font-heading;
  padding: 5px 8px;
  color: white;
  background-color: $table__headercolor;
  border: 1px solid darken($table__bordercolor, 20%);
}

.table__row {
  margin: 0px;
}

.table__row td {
  padding: 5px 8px;
  margin: 0px;
  border: 1px solid $table__bordercolor;
}

.input--cell {
  border: none;
  padding: 0;
  font-size: 12pt;
}

/* Table Actions */

.table__cell--actions {
  padding: 0px !important;
}

.table__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  outline: 1px solid black;
}

.table__action {
  flex: 1 1 auto;
  align-self: auto;
  text-align: center;
  padding: 5px 0px;
  text-decoration: none;
}

.table__actions--editing .table__action {
  padding: 8px 0px;
}

.table__action--dark {
  color: white;
}