$multiselect__color: $color__one;
$multiselect__border: 2px solid lighten($color__four, 75%);
$multiselect__border--separator: 2px solid lighten($color__four, 75%);



.multiselect {
  max-width: 250px;
  border-radius: 5px;
}
.multiselect__list {
  margin: 0;
}
.multiselect__item {
  list-style-type: none;
  margin-left: -40px;
}
.multiselect__item__link {
  @extend .sgfonts__omnes;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: $color__black;
  border-left: $multiselect__border;
  border-right: $multiselect__border;
  border-bottom: $multiselect__border--separator;
  &:hover{

  }
  &.multiselect__item__link--active {
    background-color: $multiselect__color;
    border-left: $multiselect__color;
    border-right: $multiselect__color;
    border-top: $multiselect__color;
    border-bottom: $multiselect__color;
    color: $color__five;
    @extend .sgfonts__adelle-bold;
  }
}
.multiselect__item__link--first {
  border-top: $multiselect__border;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.multiselect__item__link--last {
  border-bottom: $multiselect__border;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
