extends layout

block content
  h1 Overview
  p Welcome to the <b>FM Style Guide</b>!

  h2 Colors

  .sgcolors
    .sgcolors__item.sgcolors__item--one
    .sgcolors__item.sgcolors__item--two
    .sgcolors__item.sgcolors__item--three
    .sgcolors__item.sgcolors__item--four
    .sgcolors__item.sgcolors__item--five

  p Note that each of these colors were choosen arbitrarily and may not represent the end colors. Using <b>SCSS</b>, these colors can just be changed in a single place and all of the styles as well of the styleguide should update accordingly.

  p Each of these colors are used in the following components:
  table
    thead
      th Color
      th Code
      th Used
    tbody
      tr
        td.sgcolors__item--one
        td
          pre $color__one
        td
          ul
            li Hover/Active Link (Sidebar)
      tr
        td.sgcolors__item--two
        td
          pre $color__two
        td
          ul
            li none
      tr
        td.sgcolors__item--three
        td
          pre $color__three
        td
          ul
            li none
      tr
        td.sgcolors__item--four
        td
          pre $color__four
        td
          ul
            li none
      tr
        td.sgcolors__item--five
        td
          pre $color__five
        td
          ul
            li none
